/* Color Theme Swatches in Hex */
  .SberCraft-game-1-hex { color: #44AFF2; }
  .SberCraft-game-2-hex { color: #0E2226; }
  .SberCraft-game-3-hex { color: #4EA696; }
  .SberCraft-game-4-hex { color: #9FF288; }
  .SberCraft-game-5-hex { color: #F24F13; }

  .SberCraft-game-1-hex { color: #64c3fb; }
  .SberCraft-game-1-hex { color: #325ae0; }
  .SberCraft-game-5-hex { color: #fcfcfc; }
  .SberCraft-game-5-hex { color: #d8f42e; }
  .SberCraft-game-5-hex { color: #f5c0dc; }
  .SberCraft-game-5-hex { color: #ffffff; }
  

/* Global styles
------------------------------------*/
html {
	box-sizing: border-box;
  font-family: arial, helvetica, sans-serif;
  background-color: rgb(238, 238, 238);
}
*,*:before,*:after {
	box-sizing: inherit;
}
img {
  max-width: 100%;
}
.content-wrap {
  max-width: 800px;
  width: 85%;
  margin: 0 auto;
  padding: 30px 50px;
  background-color: white;
  box-shadow: 0 0 25px rgba(48, 48, 48, 0.2);
}
h1 {
  color: #134351;
  font-size: 26px;
  text-align: right;
}
h2 {
  color: #134351;
}
h3 {
  margin-top: 50px;
  color: #134351;
  text-transform: uppercase;
}
header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
  
/* Remove margins and padding from the list */
  ul {
    margin: 0;
    padding: 0;
    background: #f9f9f9;
  }
  
/* Style the list items */
  ul li, .check li:last-child {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    font-size: 18px;
    transition: 0.2s;
    list-style: none;
    background-color: #f1f1f1;
/* make the list items unselectable */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  /* Set all odd list items to a different color (zebra-stripes) */
  ul li:nth-child(odd) {
    background: #f9f9f9;
  } 
  
  ul li:last-child {
    background-color: rgba(242, 79, 19, 0.2);
  }
  /* Darker background-color on hover */
  ul li:hover, .check li:last-child:hover {
    background: rgba(136, 136, 136, 0.5);;
  }  
  /* When clicked on, add a background color and strike out text */
  ul li.checked, .check li:last-child.checked {
    background: #888;
    color: #fff;
    text-decoration: line-through;
  }

  /* Add a "checked" mark when clicked on */
  ul li.checked::before {
    content: '';
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
  }
  
  /* Style the close button */
  .close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
  }
  
  .close:hover {
    /* background-color: ; */
    background-color: #df3a4a;
    color: white;
  }
  
  /* Style the header */
  .header {
    background-color: #64c3fb;
    padding: 30px 30px 30px 30px;
    /* color: white; */
    text-align: left;
  }
  
  /* Clear floats after the header */
  .header:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Style the input */
  input {
    margin: 0;
    border: none;
    border-radius: 5px;
    width: 100%;
    padding: 10px;
    float: left;
    font-size: 16px;
  }
  
  /* Style the "Add" button */
  .button {
    padding: 8px;
    width: 25%;
    background: rgba(14, 34, 38, 0.8);
    color: white;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 5px;
  }
  .addBtn {
    padding: 8px;
    width: 25%;
    background: rgba(14, 34, 38, 0.8);
    color: white;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 5px;
  }
  .addBtn:hover {
    background-color: #0E2226;
  }
  .clearItems {
    padding: 8px;
    width: 100%;
    background: #df3a4a;
    color: white;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 5px;
    font-weight: bold;
  }

  /* _______ */

  .two_columns {
    display: flex;
    text-align: center;
  }
  .two_columns ul, .two_columns button {
    flex: 0 0 50%;
  }
  .four_columns {
    display: flex;
    justify-content: flex-end;
  }
  .four_columns button{
    flex: 0 0 25%;
  }




